src/main/resources/META-INF/gndRequester.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="gndRequester" 
targetNamespace="http://gnd.qterra.de/services/" 
xmlns:ns1="http://gnd.qterra.de/webservice/" 
xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
xmlns:tns="http://gnd.qterra.de/services/" 
xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://gnd.qterra.de/webservice/" 
    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    	<xsd:element name="getGndPersonInfo">
    		<xsd:complexType>
    			<xsd:sequence>
    				<xsd:element maxOccurs="1" minOccurs="1" name="lastName" type="xsd:string">
    				</xsd:element>
    				<xsd:element maxOccurs="1" minOccurs="1" name="firstName" type="xsd:string"/>
    			</xsd:sequence>
    		</xsd:complexType>
    	</xsd:element>
    	<xsd:element name="getGndPersonInfoResponse">
    		<xsd:complexType>
    			<xsd:sequence>
    				<xsd:element maxOccurs="1" minOccurs="1" name="resultSize" type="xsd:int">
    				</xsd:element>
    				<xsd:element maxOccurs="unbounded" minOccurs="0" name="result" type="ns1:personResultType"/>
    			</xsd:sequence>
    		</xsd:complexType>
    	</xsd:element>
    	<xsd:element name="getResourcesByPnd">
    		<xsd:complexType>
    			<xsd:sequence>
    				<xsd:element maxOccurs="1" minOccurs="1" name="pndUri" type="xsd:string">
    				</xsd:element>
    			</xsd:sequence>
    		</xsd:complexType>
    	</xsd:element>
    	<xsd:element name="getResourcesByPndResponse">
    		<xsd:complexType>
    			<xsd:sequence>
    				<xsd:element maxOccurs="1" minOccurs="1" name="resultSize" type="xsd:int">
    				</xsd:element>
    				<xsd:element maxOccurs="unbounded" minOccurs="0" name="result" type="ns1:resourceResultType"/>
    			</xsd:sequence>
    		</xsd:complexType>
    	</xsd:element>
    	<xsd:complexType name="personResultType">
    		<xsd:sequence>
    			<xsd:element maxOccurs="1" minOccurs="1" name="pndUri" type="xsd:string">
    			</xsd:element>
    			<xsd:element maxOccurs="1" minOccurs="1" name="pndID" type="xsd:string">
    			</xsd:element>
    			<xsd:element maxOccurs="1" minOccurs="0" name="prefferedName" type="xsd:string">
    			</xsd:element>
    			<xsd:element maxOccurs="1" minOccurs="0" name="yearOfBirth" type="xsd:string">
    			</xsd:element>
    			<xsd:element maxOccurs="unbounded" minOccurs="0" name="wpUrl" type="xsd:string">
    			</xsd:element>
    			<xsd:element maxOccurs="1" minOccurs="0" name="biograficData" type="xsd:string">
    			</xsd:element>
    			<xsd:element maxOccurs="1" minOccurs="0" name="acadTitle" type="xsd:string">
    			</xsd:element>
    			
    		</xsd:sequence>
    	</xsd:complexType>
    	<xsd:complexType name="resourceResultType">
    		<xsd:sequence>
    			<xsd:element maxOccurs="1" minOccurs="1" name="pndUri" type="xsd:string">
    			</xsd:element>
    			<xsd:element maxOccurs="1" minOccurs="1" name="resourceUri" type="xsd:string">
    			</xsd:element>
    			<xsd:element maxOccurs="1" minOccurs="0" name="resourceTitle" type="xsd:string">
    			</xsd:element>
    			<xsd:element maxOccurs="1" minOccurs="0" name="isbn" type="xsd:string">
    			</xsd:element>
    			<xsd:element maxOccurs="1" minOccurs="0" name="issn" type="xsd:string">
    			</xsd:element>
    			<xsd:element maxOccurs="1" minOccurs="0" name="issued" type="xsd:string">
    			</xsd:element>
    			<xsd:element maxOccurs="1" minOccurs="0" name="publisher" type="xsd:string">
    			</xsd:element>
    			<xsd:element maxOccurs="1" minOccurs="0" name="extent" type="xsd:string">
    			</xsd:element>
    			<xsd:element maxOccurs="1" minOccurs="0" name="description" type="xsd:string">
    			</xsd:element>
    		</xsd:sequence>
    	</xsd:complexType>
    </xsd:schema>
	</wsdl:types>
  <wsdl:message name="getGndPersonInfoRequest">
    <wsdl:part name="parameters" element="ns1:getGndPersonInfo">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="requestPndFromName">
  </wsdl:message>
  <wsdl:message name="getGndPersonInfoResponse">
    <wsdl:part name="parameters" element="ns1:getGndPersonInfoResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getResourcesByPndRequest">
  	<wsdl:part name="parameters" element="ns1:getResourcesByPnd"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getResourcesByPndResponse">
  	<wsdl:part name="parameters" element="ns1:getResourcesByPndResponse"></wsdl:part>
  </wsdl:message>
<wsdl:portType name="gndRequester">
	<wsdl:operation name="getGndPersonInfo">
	<wsdl:documentation>An Operation that requests URIs and other information (if any) provided by the GND from given first and last name of a person </wsdl:documentation>
    	<wsdl:input message="tns:getGndPersonInfoRequest">
      	</wsdl:input>
      	<wsdl:output message="tns:getGndPersonInfoResponse">
    	</wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getResourcesByPnd">
    	<wsdl:input message="tns:getResourcesByPndRequest"></wsdl:input>
    	<wsdl:output message="tns:getResourcesByPndResponse"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="gndRequesterSOAP" type="tns:gndRequester">
  	<soap:binding style="document"
  		transport="http://schemas.xmlsoap.org/soap/http" />
  	<wsdl:operation name="getGndPersonInfo">
  		<soap:operation
  			soapAction="http://gnd.qterra.de/services/getGndPersonInfo" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="getResourcesByPnd">
  		<soap:operation
  			soapAction="http://gnd.qterra.de/services/getResourcesByPnd" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="gndRequester">
    <wsdl:port name="gndRequesterSOAP" binding="tns:gndRequesterSOAP">
      <soap:address location="http://www.qterra.de/gnd"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
